[flake8]
max-line-length = 200

ignore =
        # E203 is not PEP 8 compliant. https://github.com/PyCQA/pycodestyle/issues/373
        E203
        # Not worrying about spaces around arithmetic operations
        E226
        # Linebreaks before/after unary operators are okay
        W503, W504

exclude =
        # Don't need to check .git
        .git,
        ibcdfo_pypkg/build/,
        minq5,
        __init__.py


per-file-ignores =
        # Allow lambda expressions
        pounders/py/tests/*.py:E731
        # These are old test
        pounders/py/tests/old_unit_tests/test_pounders.py:F841,E501
