# This is an example modified from
# https://florianschanda.github.io/miss_hit/configuration.html
#
# Refer to Issue #177 for potential issues with this action.
name: MATLAB Code Standard Adherence
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Prefer using the latest Python version supported by the package
  check_standards:
    runs-on: ubuntu-latest
    steps:
      # -- General Setup Steps
      # No need to check standards in submodules
      - name: Checkout IBCDFO repository
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install miss_hit
      - name: MISS_HIT Metrics
        run: mh_metric --ci
      - name: MISS_HIT Code style
        run: mh_style --process-slx
      - name: MISS_HIT Bug finder
        run: mh_lint
