name: Python Code Standard Adherence
env:
  TOOLS_PATH:      ${{ github.workspace }}/tools
  GH_ACTIONS_PATH: ${{ github.workspace }}/.github/workflows
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Prefer using the latest Python version supported by the package
  check_standards:
    runs-on: ubuntu-latest
    steps:
      # -- General Setup Steps
      # No need to check standards in submodules
      - name: Checkout IBCDFO repository
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Setup Python with tox
        run: $GH_ACTIONS_PATH/setup_tox_github_action.sh ${{ runner.os }}

      # -- Run scripts that run on full repository including packages
      # The scripts uses tox internally
      - name: Check coding standards
        run: |
          $TOOLS_PATH/check_flake8_compliance.sh
          # Having black do reformatting in action results in no change to the
          # files in the repo and no errors are reported.  With this flag, we
          # print useful info and raise an error when changes need to be made.
          $TOOLS_PATH/format_with_black.sh --diff
